.slick-row.active
{
    background: yellow;
}

table.chucho-grid tr.selected
{
    background: yellow;
}

table.chucho-grid thead tr
{
    background: black;
}

table.chucho-grid thead tr th
{
    color: white;
}

table.chucho-grid .even
{
    background: lightgrey;
}


.slick-header-column
{
    text-align: center;
}

.slick-cell
{
    text-align: center;
}

.dialogue
{
    z-index: 999999;
}

.ui-widget-overlay
{
    z-index: 999998;
}

.slick-viewport
{
    height: 650px;
}

.chucho-clickable
{
    cursor: pointer;
    color: blue;
}

.chucho-clickable:hover
{
    color: red;
}
