


<input type="hidden" id="model_name" value="{{model_name}}">
<input type="hidden" id="app_name" value="{{app_name}}">
<div style="margin:30px">
    <div id="filter-div">
        <div class="row">
            <div class="col-md-3">
                Search:
                <input type="text" id="chucho-omni-filter" style="width: 100%;" onchange="myGrid.refresh();">
            </div>
        </div>
        <br>

        <div class="table" id="filter-container">
            <button type="button" class="btn btn-primary" onclick="myGrid.add_filter_table();">Add Filters</button>
        </div>
    </div>
    <br>
    <div id="{{model_name}}_grid" class="grid">
        <div class="btnPanel"> </div>
        <div class="gridContainer" data-bind='chuchoGrid: gridViewModel'> </div>
    </div>
    <div id="chucho_page_list"></div>
    <div id="pageSelectDiv" style="padding-top: .5em;">
        <label for="pageSelect">Results/Page:</label>
        <select id="pageSelect" onchange="myGrid.refresh(1);">
            <option value="25" selected="selected">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="200">200</option>
            <option value="500">500</option>
        </select>
    </div>
</div>
<div id="error_dialog" style="display:none" title="An Error has Occurred">
    <div class="ui-state-error ui-conrner-all">
        <span class="ui-icon ui-icon-alert">&nbsp;</span>
        <p>
            <span id="error_msg">&nbsp</span>
        </p>
    </div>
</div>

<script type="text/javascript">
    var myGrid = new DataGrid();
    $(function() {
        $('#chucho-add-filter').button();
    });
</script>

<div id="delete_confirm" title="Confirm Deletion" style="display:none">
    <div class="ui-state-highlight ui-conrner-all">
        <span class="ui-icon ui-icon-alert">&nbsp;</span>
        <p>
            Deleting a {{model_name|title}} may remove any related objects.  This operation cannot be
            undone.
        </p>
        <p>Do you still want to proceed?</p>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Record</h4>
      </div>
      <div id="modal-body" class="modal-body">

      </div>
      <div class="modal-footer" id="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button> -->
      </div>
    </div>
  </div>
</div>




