<input type="hidden" id="chucho_current-page" value="{{curr_page.number}}">
{% if curr_page.has_previous %}
    <span onclick="myGrid.refresh({{curr_page.previous_page_number}});" class="btn btn-primary">
        &lt;&lt;Prev
    </span>
{% endif %}

{% for page in pages %}

    {% if page == curr_page.number %}
        <span class="btn btn-primary disabled" style="color: #ffffff;">{{page}}</span>
    {% elif page < 0 %}
        ...
    {% else %}
        <span onclick="myGrid.refresh({{page}});" class="btn btn-primary">{{page}}</span>
    {% endif %}
{% endfor %}

{% if curr_page.has_next %}
    <span onclick="myGrid.refresh({{curr_page.next_page_number}});" class="btn btn-primary">
        Next&gt;&gt;
    </span>
{% endif %}
